*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Application {
  background: linear-gradient(182deg, #eae15b, #ee38f0, #38e6f0);
  background-size: 600% 600%;

  -webkit-animation: MainGradient 16s ease infinite;
  -moz-animation: MainGradient 16s ease infinite;
  animation: MainGradient 16s ease infinite;

  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes MainGradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes MainGradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes MainGradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
